.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
}

#containerCupon{
    border-style: solid;
    width: 360px;
}

#containerContent{
    max-width: 354px;
}

.img{
    width: 338px;
    height: 414px;
}
