#cabecera{
    margin-top: 20px;
    text-align: center;
}
#contenedorTarjetas{
    display: flexbox;
    justify-content: space-evenly;
    text-align: center;
}
#tarjeta{
    margin: 20px;
    width: 18rem;
    display: inline-block;
}
#imgCard{
    height: 200px;
}