/* FiltroItem */
#categoria {
    float: left;
    color: white;
    width: 150px;
    margin-left: 1%;
    margin-top: 2%;
    box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 5), 0 18px 60px 0 rgba(0, 0, 0, 5);
    border-radius: 1em;
}

#text {
    color: white;
    text-align: center;
    margin-top: 10px;
}

#radLabel {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}

#radLabel:hover,
#radLabel:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

#radInput {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

#radDesign {
    width: 22px;
    height: 22px;
    border-radius: 1em;
    background: linear-gradient(to right bottom, #16b70b, hsl(45, 93%, 58%));
    position: relative;
}

#radDesign::before {
    content: "";
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1);
    transition: .3s;
}

#radInput:checked+#radDesign::before {
    transform: scale(0);
}

#radText {
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    font-weight: 900;
    transition: .3s;
}

#radInput:checked~#radText {
    color: hsl(0, 0%, 54%);
}

/* FiltroItemCombo */
:root {
    --background-gradient: linear-gradient(30deg, #54aa00 30%, #F8C630);
    --gray: #3f3d41;
    --darkgray: #242325;
}

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1.7em 0 4%;
    color: #72020b;
    font-weight: bolder;
    border: 2px;
    border-radius: 30px;
    background-color: white;
    border-style: solid;
    border-color: white;
    background-image: none;
    cursor: pointer;
    height: 100%;
    width: 50vw;
    
}

select::-ms-expand {
    display: none;
}

#select {
    margin-top: 1%;
    position: relative;
    display: flex;
    width: 50vw;
    height: 3em;
    color: #72020b;
    border-radius: 1em;
    overflow: hidden;
    float: right;
    margin-right: 2%;
    font-weight: bolder;
    border-radius: 30px;
    background-color: white;
    margin-left: 10vw;
}

#select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    height: 10px;
    right: 0;
    bottom: 0;
    padding: 1em;
    border-radius: 30px;
    transition: .25s all ease;
    pointer-events: none;
}

#select:hover::after {
    color: #16b70b;
}