#contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}

#tarjeta{
    margin: 8px;
    width: 22rem;
    display: inline-block;
    border-radius: 1.25em;
    border-color: #656565;
}

#contenidoTarjeta{
    text-align: start;
    padding-top: 5px;
    padding-bottom: 20px;
}

#titulo{
    font-weight: bold;
}

#cardBody{
    margin: 0px;
    padding-top: 10px;
}