#banner{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/respawn-2f8ea.appspot.com/o/Catalogo%2Fresident.jpg?alt=media&token=e47c2075-cc50-4578-8ef2-67b269a1d7a7");
    background-size: contain;
    height: 250px;
}

#categoria{
    float:left;
   /* border: 2px solid black*/;
    background-color: antiquewhite;
}
#video{
    padding: 10;
}

.text-black{
    border: 2px solid black
}
.col{
    margin-left: 10%;
}

