#contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    padding-top: 30px;
}

#tarjeta{
    margin: 8px;
    width: 18rem;
    display: inline-block;
    border-radius: 1.25em;
    border-color: #656565;
    position: relative;
}

#tarjeta:hover #wishlist{
    visibility: visible;
}

#imgCard{
    height: 360px;
    border-radius: 1.25em;
    position: relative;
}

#wishlist{
    position: absolute;
    left: 82%;
    z-index: 1;
    visibility: hidden;
}

#contenidoTarjeta{
    text-align: start;
    padding-top: 5px;
    padding-bottom: 20px;
}

#titulo{
    font-weight: bold;
}

#cardBody{
    margin: 0px;
    padding-top: 10px;
}

#item{
    border-radius: 1em;
}

#video{
    margin-top: 10%;
    width: 100%;
    height: 80%;
}

#longText{
    height: 0;
    overflow: hidden;
    display: inline-block;
}

#expanded{
    height: 15rem;
}