@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&display=swap');


body {
  margin: 0;

  font-family: 'Nunito', sans-serif;

  /* background: rgb(209, 47, 40);
    background: radial-gradient(circle, rgba(209, 47, 40, 1) 15%, rgba(71, 16, 14, 1) 100%); */

  background: #d12f28;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #d12f28, #b32b23);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #d12f28, #b32b23);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /* background: rgb(92, 119, 255);
  background: -moz-radial-gradient(circle, rgb(92, 119, 255) 0%, rgb(177, 94, 108) 100%);
  background: -webkit-radial-gradient(circle, rgba(92, 119, 255,1) 0%, rgba(177, 94, 108) 100%);
  background: radial-gradient(circle, rgba(92, 119, 255,1) 0%, rgba(177, 94, 108) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-color: white;
}

.search_input {
  color: #b60b17;
  border-radius: 30px;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 300px;
  caret-color: #b60b17;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: white;
  color: #b60b17;
}

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #b60b17;
  text-decoration: none;
}




.iconStar {
  color: orange;
  font-size: 60px;
  margin: auto 16px auto 16px;
}

.iconStar:hover,
.iconStar:hover~.iconStar {
  color: orange;

}

input[type="radio"]:checked~.iconStar {
  color: orange;
}

#product-content {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 30vh;
  padding-left: 5%;
  padding-top: 1%;
  padding-right: 5%;
  position: relative;
  width: 100%;
  height: 30%;
  align-self: center;
}

#comentarios_Alan {
  padding: 30px 0 5px !important;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}

#estilos_Modal {
  margin-left: 10%;
  margin-right: 10%;
}

#contenedor_botones {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  align-content: center;
}

#price_container {
  font-size: 24px;
  margin: 1%;
  padding: 0;
  display: inline-flex;
}

#btnWishList{
  border: 1px solid white;
  background-color: #d12f28;
  color: white;
}

#div_general {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;

}

#product-image {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50%;
}